<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SAPConnections" type="SAPCommon.SapConnectionsSection, SAPCommon, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <SAPConnections>
    <connections>
      <add Name="MGIT P0A" AppServerHost="sap-p0a.magna.global" SystemNumber="00" SystemID="P0A" Client="100" Language="EN" SncMode="0" SncPartnerName=""/>
      <add Name="MGIT Q0A" AppServerHost="sap-q0a.magna.global" SystemNumber="00" SystemID="Q0A" Client="100" Language="EN" SncMode="0" SncPartnerName=""/>
      <add Name="MGIT D22" AppServerHost="213.150.251.212" SystemNumber="66" SystemID="D22" Client="100" Language="EN" SncMode="0" SncPartnerName=""/>
      <add Name="ME P08" AppServerHost="sap-p08.magna.global" SystemNumber="00" SystemID="P08" Client="090" Language="EN" SncMode="0" SncPartnerName=""/>
      <add Name="ME Q08" AppServerHost="sap-q08.magna.global" SystemNumber="38" SystemID="Q08" Client="090" Language="EN" SncMode="0" SncPartnerName=""/>
      <add Name="ME D08" AppServerHost="sap-d08.magna.global" SystemNumber="40" SystemID="D08" Client="090" Language="EN" SncMode="0" SncPartnerName=""/>
      <add Name="MPT PRD" AppServerHost="10.12.0.75" SystemNumber="00" SystemID="PRD" Client="300" Language="EN" SncMode="0" SncPartnerName=""/>
      <add Name="MPT QAS" AppServerHost="sap-qas.magna.global" SystemNumber="00" SystemID="QAS" Client="300" Language="EN" SncMode="0" SncPartnerName=""/>
      <add Name="MPT MD3" AppServerHost="sap-md3.magna.global" SystemNumber="00" SystemID="MD3" Client="130" Language="EN" SncMode="0" SncPartnerName=""/>
     </connections>
  </SAPConnections>
</configuration>